    <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Facebook-Like Preview</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />            
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.1/ui-bootstrap-tpls.min.js"></script>    
    
    <style>
        *{border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px}
        .jumbotron h1 small
        {
            display:block
        }

        .jumbotron p {
            width:500px
        }

        .hidden {
            display: none
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            vertical-align: bottom;
            background-size:120%;

            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        .content:hover {
            background-size:100%;
        }

       .box {
            position: relative;
            width: 100%; /* desired width */
            background-color:gray;
        }

        .box:before {
            content: "";
            display: block;
            padding-top: 42.86%; /* initial ratio of 1:1*/
        }

        .hostLabel {
            position: absolute;
            margin-top: -48px;
            margin-left: 10px;
        }

    </style>
</head>
<body>
    

    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron text-center">
                <h1>Facebook-Like Link Preview</h1>                
            </div>
        </div>
    </div>
    
    <br />

    <div ng-app="previewApp" ng-controller="previewController">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-4">

                <div class="form-group">
                    <input type="text" class="form-control input-lg" ng-model="link">
                </div>
                <button class="btn btn-success btn-lg pull-right" ng-click="loadPreview()"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> submit</button>

            </div>
            <div class="hidden-xs hidden-sm col-md-4"></div>
        </div>
        <br />

        <div ng-show="error.length > 0">
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-4"></div>
                
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{error}}
                    </div>
                </div>             

                <div class="hidden-xs hidden-sm col-md-4"></div>
            </div>
        </div>

        <div ng-show="preview != null">
            <!--TITLE-->
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-4"></div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="lead" ng-bind="preview.Title"></div>
                </div>
                <div class="hidden-xs hidden-sm col-md-4"></div>
            </div>

            <!--CAROUSEL-->
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-4"></div>

                <div class="col-xs-12 col-sm-12 col-md-4">
                    <uib-carousel active="active" interval="0" no-wrap="noWrapSlides">
                        <uib-slide ng-repeat="image in preview.Images" active="image.Active" index="$index">
                            <div class="box">
                                <div class="hover-zoom content" back-img="{{image.Url}}"></div>

                                <div class="hostLabel">
                                    <h4><span class="label label-default"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {{preview.Host}}</span></h4>
                                </div>
                            </div>
                        </uib-slide>
                    </uib-carousel>
                </div>

                <div class="hidden-xs hidden-sm col-md-4"></div>
            </div>

            <!--DESCRIPTION-->
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-4"></div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <br />
                    <p>{{preview.Description}}</p>                    
                    <button class="btn btn-success btn-lg pull-right" ng-click="postPreview()"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> post</button>

                </div>
                <div class="hidden-xs hidden-sm col-md-4"></div>
            </div>
        </div>

        <br />

        <div ng-repeat="post in posts">

            <!--TITLE-->
            <div class="row">
                <div class="hidden-xs hidden-sm col-md-4"></div>

                <div class="col-xs-12 col-sm-12 col-md-4">
                    <hr />
                    <div class="lead">{{post.Title}}</div>
                </div>

                <div class="hidden-xs hidden-sm col-md-4"></div>
            </div>

            <!--IMAGE-->
            <div ng-show="post.Image.length > 0">
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-4"></div>

                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="box">
                            <div class="hover-zoom content" back-img="{{post.Image}}"></div>

                            <div class="hostLabel">
                                <h4><span class="label label-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{post.Host}}</span></h4>
                            </div>
                        </div>
                    </div>

                    <div class="hidden-xs hidden-sm col-md-4"></div>
                </div>
            </div>

            <!--DESCRIPTION-->
            <div class="row">                    
                <div class="hidden-xs hidden-sm col-md-4"></div>

                <div class="col-xs-12 col-sm-12 col-md-4">
                    <br />
                    <p>{{post.Description}}</p>                  
                    <br />
                </div>
                    
                <div class="hidden-xs hidden-sm col-md-4"></div>
            </div>
        </div>
    </div>
    
        
    <script>
        var previewApp = angular.module("previewApp", ['ui.bootstrap']);

        previewApp.controller("previewController", function ($scope, $http, helperService) {
            $scope.link = "";
            $scope.preview = null;
            $scope.list = null;
            $scope.error = "";
            $scope.posts = [];

            $scope.loadPreview = function () {
                $http({ method: "post", url: 'http://localhost/BLink/Api/Preview', data: '=' + $scope.link })
                .success(function (data) {
                    if (typeof (data) !== "undefined" && data !== null) {
                        helperService.addActive(data);

                        $scope.preview = data;
                        $scope.link = "";
                        $scope.error = "";
                    }
                })
                .error(function (errMessage) {
                    $scope.preview = null;
                    $scope.link = "";
                    $scope.error = errMessage;
                });
            }

            $scope.postPreview = function () {
                var sp = $scope.preview;
                $scope.posts.splice(0, 0, {
                    Title: sp.Title
                    , Image: $scope.getActiveImage()
                    , Description: sp.Description
                    , Text: sp.Text
                    , Url: sp.Url
                    , Host: sp.Host
                });

                $scope.preview = null;
            }

            $scope.getActiveImage = function () {
                var actives = $scope.preview.Images.filter(function (s) { return s.Active; });
                if (typeof (actives) !== "undefined" && actives.length > 0)
                    return actives[0].Url;
                
                return "";
            }

        }).config(function ($httpProvider) {
            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';

            $httpProvider.defaults.useXDomain = true;
            delete $httpProvider.defaults.headers.common['X-Requested-With'];
        });

        previewApp.directive('backImg', function () {
            return function (scope, element, attrs) {
                var url = attrs.backImg;
                element.css({
                    'background-image': 'url(' + url + ')'                    
                });
            }
        });

        previewApp.factory("helperService", function () {
            return {
                addActive: function (data) {
                    for (var ii = 0; ii < data.Images.length; ii++) {
                        data.Images[ii] = {
                            Url: data.Images[ii]
                            , Active: ii == 0 
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>
